<div>
    <h1 class="title">PRODUCTOS</h1>

    {{#each productos}}
        <div class="products">
            <h3><span>Nombre: </span>{{this.title}}</h3>
            <h5><span>Descripcion: </span>{{this.description}}</h5>
            <h5><span>Precio: </span>{{this.price}}</h5>
            <h5><span>Imagen: </span>{{this.thumbnail}}</h5>
            <h5><span>Stock: </span>{{this.stock}}</h5>
            <h5><span>Codigo: </span>{{this.code}}</h5>
        </div>
    {{/each}}
</div>

